//* Основные цвета===>
$mainColor_1: #ffc85e;
$mainColor_2: #3f4e65;
$mainColor_3: #111111;

//* НАСТРОЙКИ ===>

//? Минимальная ширина страницы
$minWidth: 320;
//? Ширина полотна (макета)
$maxWidth: 1920;
//? Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1370px;
//? Шрифт по умолчанию ==============================================================================================================================================================================================================================================================================
$fontFamily: 'Inter', sans-serif;
$fontSize: 14px;
//? Шаблон
%conteiner-all {
  max-width: $maxWidthContainer;
  height: 100%;
  margin: 0 auto;
}
